extends layout

block content
  input(type="hidden" value="#{signToken}" id="signToken")
  input(type="hidden" value="#{signTicket}" id="signTicket")
  input(type="hidden" value="#{service}" id="service")
  .ui.middle.aligned.center.aligned.grid
    .sixteen.wide.column
      h2.ui.teal.image.header
        img.image(src="/images/logo.png" style="border-radius:8px")
        .content Express SSO for NodeJS
          span.version  v0.0.2
      form.ui.large.form
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type="text" id="username" placeholder="Account" maxlength="50")
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type="password" id="password" placeholder="Password" maxlength="20")
          .field
            .ui.right.labeled.left.icon.input
              i.tags.icon
              input(type="text" id="randomcode" placeholder="Verification Code" maxlength="4")
              a.ui.tag.label
                .randomcode
          .ui.fluid.large.teal.submit.button.loginButton Login
        .ui.error.message sd
      .ui.message New to us?
        a(href="#") Sign Up
  script(src="/javascripts/index.js")
