extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .sixteen.wide.column
      h2.ui.teal.image.header
        img.image(src="/images/logo.png" style="border-radius:8px")
        .content Welcome #{username} , You did it. ^_^


  script(src="/javascripts/index.js")
